.header-link {
    color: white;
    text-decoration: none;
}

.list-item{
    display: inline-block;
    height: auto;
    margin: 0.1% 2% 0.1% 0.1%;
    cursor: pointer;
    padding: 0.5%;
    vertical-align: top;
}

.list-item:not(:first-child){
    padding: 2%;
    margin-top: 1.5%;
    border-top: 2px solid #ffa000;
}

footer .list-item a {
    color: #234465;
    text-decoration: none;
}

footer .list-item:nth-child(1){
    margin-left: 1%;
}
